<h1>Wild Animals!</h1>
<br>
<img src="http://stream1.gifsoup.com/view/1016225/dancing-animals-o.gif">
<br>
<h3>Current Animal List</h3>

<ul>
  <% @species.each do |animal|%>
    <li><a href="/species/<%= animal.id %>"><%= animal.name %></a></li>
  <% end %>
</ul>
<br>

<h3>Create new animal</h3>

<form action="/species" method="post">
<label for="species_name">Name</label>
<input id="species_name" name="species[name]" type="text" value="<%=@species.name %>">
<button>Create an animal</button>
</form>

<form action="/sightings" method="get">
  <label for="sightings_start_date">Start date</label>
  <input id="sightings_start_date" name="sightings[start_date]" type="text">
  <label for="sightings_end_date">End date</label>
  <input id="sightings_end_date" name="sightings[end_date]" type="text">
  <button>Run report</button>
</form>

<h5>Sightings Search Results</h5>
<ul>
  <% @sightings.each do |sighting| %>
  <% current_species = Species.find(sighting.species_id) %>
  <% current_region = Region.find(sighting.region_id) %>
    <li>Species: <% current_species.name%>, Date: <%= sighting.date %>, Latitude:  <%= sighting.latitiude %>, Longitude:  <%= sighting.longitude %>, Region: <%= current_region.name%>
    </li>
  <% end %>
</ul>


<br><br>
<button><a href="/regions/">Regional Menu</a></button>
