<h1><%= @species.name %> </h1>

<% if @species.name == 'Gerbilmom' %>
  <img src="http://editthis.info/images/speakeasy/5/5b/Gerbil2.jpg">
<% end %>

<p><a href="/species/<%= @species.id %>/sightings/new">Add sighting</a></p>

<p>Sightings:</p>

<ul>
  <% @species.sightings.each do |sighting| %>
  <% binding.pry %>
    <li>
      <% current_region = Region.find(sighting.region_id) %>
      Date: <%= sighting.date %>, Latitude:  <%= sighting.latitiude %>, Longitude:  <%= sighting.longitude %>, Region: <%= current_region.name%>
   | <a href="/species/<%= @species.id %>/sightings/<%= sighting.id %>/edit">Edit</a> |
      <a href="/species/<%= @species.id %>/sightings/<%= sighting.id %>"
         data-confirm="You sure?"
         data-method="delete"
         rel="nofollow">Delete</a>
    </li>
  <% end %>
</ul>





<p><a href="/species/<%= @species.id %>/edit">Edit</a></p>
<p><a href="/species/<%= @species.id %>"
  data-confirm="You sure?"
  data-method="delete"
  rel="nofollow">Kill</a></p>

<p>Back to main <a href="/species">menu</a></p>

