<h1> <%= @region.name %></h1>

<p><a href="/regions/<%= @region.id %>/edit">Edit</a></p>
<p><a href="/regions/<%= @region.id %>"
  data-confirm="Are you sure?"
  data-method="delete"
  rel="nofollow">Delete</a></p>

<h3> Regional Sightings: </h3>

<% @sightings.each do |sighting| %>
<% current_species = Species.find(sighting.species_id) %>
<p>Species: <%= current_species.name%>,  Date: <%= sighting.date %>,  Latitude: <%= sighting.latitiude %>,  Longitude: <%= sighting.longitude %></p>
<% end %>

<button><a href="/regions/">Regional Menu</a></button>
<button><a href="/species/">Main</a></button>
